.input__wrapper {
  position: relative;
  width: 100%;
  min-width: 200px;
}

.input {
  width: 100%;

  padding: 27px 50px 13px 16px;

  border: 2px solid rgb(226, 224, 224);
  border-radius: 5px;

  font-size: 18px;
}

.input::placeholder {
  color: transparent;
}

.input__wrapper:hover .input {
  border: 2px solid rgb(205, 38, 124);
  transition: 0.3s;
}

.icon {
  border: none;
  background-color: transparent;
  position: absolute;
}

.label {
  position: absolute;
  left: 0;
  top: 50%;
}
