.form__message {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 8px;

  font-size: 11px;
  color: var(--input-invalid-color);
  margin-top: 8px;
}

.form__message * {
  stroke: currentColor;
}
