.link {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: upppercase;
  text-decoration: none;

  padding: 10px 20px;
}

.link:not(:disabled):hover {
  color: purple;
}

.icon * {
  stroke: #fff;
}
