.button__wrapper {
  padding: 9px 36px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  font-size: 18px;
  border: none;

  transition: all 250ms;
}

.primary--button {
  background-color: transparent;

  color: rgb(132, 8, 132);
  border: 3px solid rgb(132, 8, 132);
}

.primary--button:hover,
.secondary--button:hover,
.secondary--button:active,
.primary--button:active {
  background-color: rgb(248, 158, 248);
}

.secondary--button {
  background-color: rgb(132, 8, 132);
  color: #fff;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;
}
