.header {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 60px;
}

.logo {
  color: #fff;
  font-size: 26px;
  text-decoration: none;
}

.link {
  text-decoration: none;

  font-size: 18px;
  font-weight: 450;

  color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  text-transform: none;
}

.link:hover {
  background-color: #692c61;
  color: #fff;
  transition: 0.3s;
}

.button:hover {
  background: linear-gradient(90deg, #8a55c6 0%, #c168e8 100%);
  transition: 0.2s;
}

.input {
  background-color: transparent;
  color: white;
  font-size: 18px;

  padding: 10px;
  border-radius: 20px;

  margin-right: 20px;
}
