.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 15px 0;

  background-color: #49009d;

  z-index: 5;
}

.logo {
  color: #fff;
  font-size: 26px;
  text-decoration: none;
}

.link {
  text-decoration: none;

  font-size: 18px;
  font-weight: 450;

  color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  text-transform: none;
}

.link:hover {
  background-color: #692c61;
  color: #fff;
  transition: 0.3s;
}

.links__wrapper {
  display: flex;
  align-items: center;
}

.icon__button {
  position: relative;

  padding: 20px;

  border: none;
  background-color: transparent;

  display: flex;
  justify-content: center;
}

.icon__button:hover {
  background-color: #692c61;
  transition: 0.3s;
  border-radius: 10px;
}

.number {
  position: absolute;
  top: 5px;
  right: 10px;

  color: #fff;
  font-size: 12px;
  font-weight: 400;
  background-color: rgb(193, 42, 42);
  border-radius: 50%;

  margin: 0;
  padding: 3px;

  text-align: center;
}

.dialog {
  overflow: scroll;
  scroll-behavior: smooth;
}
